.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    


    
}

.checkboxes label{
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: var(--text);
    
}
